patool==4.0.4
pdf2jpg==1.1
fpdf==1.7.2
Pillow==12.1.0
natsort==8.4.0
img2pdf==0.6.3
ocrmypdf==16.13.0
patool==4.0.4
opencv-python==4.13.0.90
tqdm==4.67.1
mss==10.1.0
pynput==1.8.1
PyPDF2==3.0.1
moviepy==2.2.1